<h1><%= @exchange.name %></h1>

<table class='table table-hover text-center'>
  <thead class='thead-dark'>
    <tr>
      <th>Moneda</th>
      <th>Precio (BTC)</th>
      <th>Cambio 24H</th>
    </tr>
  </thead>
  <tbody>
    <% @exchange.coins.sort_by(&:symbol).each do |coin| %>
    <tr >
      <td><%= link_to "#{coin.symbol}", coin_path(coin) %></td>
      <td><%= format('%.8f',coin.price_btc) %></td>
      <td class=<%= coin.percent_change_24h > 0 ? 'text-success' : 'text-danger' if coin.percent_change_24h %>>
        <%= number_to_percentage(coin.percent_change_24h, precision: 2) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
