<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Cripto<span class='text-danger'>M</span>agic".html_safe, root_path, class: 'navbar-brand' %>
  <% if @exchange %>
    <%= link_to "#{@exchange.name.upcase}", exchange_path(@exchange), class: 'navbar-brand', style: 'color: yellow' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exchange
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Exchange.each do |e| %>
            <%= link_to e.name, exchange_path(e), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item <%= 'active' if @tab == :filters %>">
        <%= link_to 'Filtros', filters_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if @tab == :classes %>">
        <%= link_to 'Clases', classes_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if @tab == :signals %>">
        <!-- <a class="nav-link disabled" href="#">Señales</a> -->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if @tab == :help %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ayuda
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Introducción', help_path, class: 'dropdown-item' %>
          <%= link_to 'Aporta!', donations_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'CriptoMagic v1.0.0', '#', class: 'dropdown-item' %>
        </div>
      </li>

      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to current_user.email, '#', class: 'dropdown-item' %>
            <!-- <a class="dropdown-item disabled <%= 'active' if @tab == :portfolio %>" href="#">Portafolio</a> -->
            <div class="dropdown-divider"></div>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item <%= 'active' if @tab == :signals %>">
          <div class='nav-link'>
            <%= link_to 'Login', new_user_session_path, class: '' %> /
            <%= link_to 'Registrarse', new_user_registration_path, class: '' %>
          </div>

        </li>
      <% end %>

    </ul>
    <%= form_tag(search_coin_path, method: :get, class: 'my-2 my-lg-0 float-md-right') do %>
      <div class="input-group">
        <%= text_field_tag :search, '', placeholder: 'Moneda', class: 'form-control', autocomplete: :off %>
        <div class="input-group-append">
          <%= submit_tag "Buscar", class: 'btn btn-outline-success' %>
          <%= submit_tag "All", class: 'btn btn-outline-success' %>
        </div>
      </div>
    <% end %>

    <div id="live-search-results"></div>
  </div>
</nav>
