<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'CriptoMagic', root_path, class: 'navbar-brand' %>
  <% if @exchange %>
    <%= link_to "#{@exchange.name.upcase}", exchange_path(@exchange), class: 'navbar-brand', style: 'color: yellow' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exchange
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Exchange.each do |e| %>
            <%= link_to e.name, exchange_path(e), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled <%= 'active' if @tab == :portfolio %>" href="#">Portafolio</a>
      </li>
      <li class="nav-item <%= 'active' if @tab == :filters %>">
        <%= link_to 'Filtros', filters_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if @tab == :classes %>">
        <a class="nav-link disabled" href="#">Clases</a>
      </li>
      <li class="nav-item <%= 'active' if @tab == :signals %>">
        <a class="nav-link disabled" href="#">Señales</a>
      </li>
    </ul>
    <%= form_tag(search_coin_path, method: :get, class: 'my-2 my-lg-0 float-md-right') do %>
      <div class="input-group">
        <%= text_field_tag :search, '', placeholder: 'Moneda', class: 'form-control', autocomplete: :off %>
        <div class="input-group-append">
          <%= submit_tag "Buscar", class: 'btn btn-outline-success' %>
          <%= submit_tag "All", class: 'btn btn-outline-success' %>
        </div>
      </div>
    <% end %>

    <div id="live-search-results"></div>
  </div>
</nav>
