<%= form_tag(search_coin_path, method: :get, class: 'my-2 my-lg-3 float-md-right d-md-none') do %>
  <%= hidden_field_tag :id, @exchange.id.to_s %>
  <div class="input-group">
    <%= text_field_tag :search, '', placeholder: 'Moneda', class: 'form-control', autocomplete: :off %>
    <div class="input-group-append">
      <%= submit_tag "Buscar", class: 'btn btn-outline-success' %>
      <%= submit_tag "All", class: 'btn btn-outline-success' %>
    </div>
  </div>
<% end %>
