<!DOCTYPE html>
<html>
  <head>
    <title>CriptoMagic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'shared/flash' unless flash.empty? %>

    <div class='my-2'>
      <%= yield %>
    </div>
    <%= render 'layouts/navbar_bottom' %>
  </body>
</html>
