<%= render 'shared/search' %>

<% symbol = @coin.symbol == 'BTC' ? 'BTCUSDT' : @coin.symbol + 'BTC' %>
<h3 class="my-3"><%= @coin.name %>(<%= @coin.symbol %>)
  <span class="badge badge-pill badge-<%= btc_alert.blank? ? 'success' : 'danger' %>"> BTC</span>
  <span>
    <%= link_to 'Gráfico', " http://es.tradingview.com/chart/?symbol=#{@exchange.name.upcase}:#{symbol}&interval=#{params[:analysis] ? INTERVALS[params[:analysis][:range]] : '60'}", target: '_blank', class: 'badge badge-pill badge-primary' %>
  </span>
</h3>

<small class="text-muted" style="position: relative; top: -15px">Para más información sobre el uso de este análisis dirígete a <%= link_to 'AYUDA', help_path %></small>

<table>
  <tr>
    <th><h6>Cambio 24h:</h6></th>
    <th style="padding-right: 20px;" class=<%= @coin.percent_change_24h > 0 ? 'text-success' : 'text-danger' if @coin.percent_change_24h %>>
      <h6><%= number_to_percentage(@coin.percent_change_24h, precision: 2) if @coin.percent_change_24h %></h6>
    </th>
    <th><h6>Volumen 24h:</h6></th>
    <th style="padding-right: 20px;" class="text-success"><h6><%= format('%.2f', @coin.volume_24h_btc) if @coin.volume_24h_btc && @coin.symbol != 'BTC' %> BTC</h6></th>
  </tr>
</table>

<%= render 'volume_table', coin: @coin %>

 <!-- <%= link_to 'Gráfico', "http://es.tradingview.com/symbols/#{symbol}", target: '_blank', class: 'badge badge-pill badge-primary' %> -->


<!-- FORM -->
<div>
  <%= form_tag(analyze_coin_path, method: :post, class: '') do %>
  <div class="">
    <b><%= label_tag :data, 'Datos', class: '' %></b>
  </div>

    <div class="form-row">
      <div class='form-group col-6'>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :periods, 'Periodos', class: 'input-group-text' %>
          </div>
          <%= number_field_tag :periods, :quantity, in: 1..24, step: 1, value: params[:analysis] ? params[:analysis][:periods].to_i : 1, class: 'form-control col' %>
        </div>
        <small class="form-text text-muted">Escoge el número de velas a analizar</small>
      </div>
      <div class='form-group col-6'>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :range, 'Rango', class: 'input-group-text' %>
          </div>
          <%= select_tag :range, options_for_select([['15m', '15m'],['30m', '30m'],['1h', '1h']], params[:analysis] ? params[:analysis][:range] : '15m'), class: 'form-control col' %>
        </div>
        <small class="form-text text-muted">Escoge el intervalo de las velas</small>
      </div>
    </div>

    <div class="">
      <b><%= label_tag :date, 'Fecha y Hora', class: '' %></b>
    </div>

    <div class="form-row">
      <div class='form-group col-6'>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :day, 'Día', class: 'input-group-text' %>
          </div>
          <%= select_day params[:analysis] ? params[:analysis][:day].to_i : Time.now, {}, { class: 'custom-select' } %>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :month, 'Mes', class: 'input-group-text' %>
          </div>
          <%= select_tag 'date[month]', options_for_select(((Date.today - 1.month).month..Date.today.month).map{|m| [Date::MONTHNAMES[m], m]}, params[:analysis] ? params[:analysis][:month].to_i : Date.today.month), class: 'form-control col' %>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :year, 'Año', class: 'input-group-text' %>
          </div>
          <%= select_year params[:analysis] ? params[:analysis][:day].to_i : Time.now, { start_year: Date.today.month == 1 ? Date.today.year - 1 : Date.today.year, end_year: Date.today.year}, { class: 'form-control col' } %>
        </div>
        <small class="form-text text-muted">No puedes mirar más de 3 días hacia atras</small>
        <!-- <%= select_month Time.now %> -->
      </div>

      <div class='form-group col-6'>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :hour, 'Hora', class: 'input-group-text' %>
          </div>
          <%= select_hour params[:analysis] ? params[:analysis][:hour].to_i : Time.now, {}, { class: 'form-control col' } %>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <%= label_tag :minute, 'Minuto', class: 'input-group-text' %>
          </div>
          <%= select_minute params[:analysis] ? params[:analysis][:minute].to_i : Time.now, {}, { class: 'form-control col' } %>
        </div>
        <!-- <%= datetime_select :date, :time %> -->
      </div>
    </div>

    <%= hidden_field_tag :coin_id, @coin.id.to_s %>
    <div class="input-group" role="group">
      <%= link_to 'Reset', coin_path(@coin), class: 'btn btn-danger btn-secondary form-control btn-lg' %>
      <%= submit_tag "Analizar", class: 'btn btn-success form-control btn-lg' %>
    </div>
  <% end %>

  <!-- `ANALYSIS TABLE ` -->
  <% if params['analysis'] %>
    <% analysis = @coin.analyze(params[:analysis][:periods].to_i, params[:analysis][:range], Time.at(params[:analysis][:time].to_i)) %>
    <table class='table table-hover text-center'>
      <thead class='thead-dark table-head'>
        <tr>
          <th>Tiempo</th>
          <th>Alertas</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <% analysis[@coin.symbol].each do |a| %>
        <tr >
          <td><%= a[0] %></td>
          <td><%= a[1] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
